In [2]:
import numpy as np
import pandas as pd
from pandas import DataFrame,Series

In [3]:
dframe= DataFrame({'k1':['X','X','Y','Y','Z'],
                   'k2':['alpha','beta','alpha','beta','alpha'],
                   'dataset1':np.random.randn(5),
                   'dataset2':np.random.randn(5)})
dframe

   dataset1  dataset2 k1     k2
0  0.104807 -0.618191  X  alpha
1  0.953691 -0.181095  X   beta
2  0.288181 -0.368409  Y  alpha
3 -0.133996 -0.342888  Y   beta
4 -0.584674  0.995367  Z  alpha

In [4]:
group1 = dframe['dataset1'].groupby(dframe['k1'])

In [5]:
group1

In [6]:
group1.mean()

k1
X    0.529249
Y    0.077092
Z   -0.584674
Name: dataset1, dtype: float64

In [7]:
cities= np.array(['NY','LA','LA','NY','NY'])
month= np.array(['JAN','FEB','JAN','FEB','JAN'])

In [9]:
dframe['dataset1'].groupby([cities,month]).mean()

LA  FEB    0.953691
    JAN    0.288181
NY  FEB   -0.133996
    JAN   -0.239934
Name: dataset1, dtype: float64

In [10]:
dframe.groupby('k1').mean()

    dataset1  dataset2
k1
X   0.529249 -0.399643
Y   0.077092 -0.355649
Z  -0.584674  0.995367

In [11]:
dframe.groupby(['k1','k2']).mean()

          dataset1  dataset2
k1 k2
X  alpha  0.104807 -0.618191
   beta   0.953691 -0.181095
Y  alpha  0.288181 -0.368409
   beta  -0.133996 -0.342888
Z  alpha -0.584674  0.995367

In [12]:
dframe.groupby('k1').size()

k1
X    2
Y    2
Z    1
dtype: int64

In [14]:
for name,group in dframe.groupby('k1'):
    print "This is a %s group" %name
    print group
    print'\n'

This is a X group
   dataset1  dataset2 k1     k2
0  0.104807 -0.618191  X  alpha
1  0.953691 -0.181095  X   beta


This is a Y group
   dataset1  dataset2 k1     k2
2  0.288181 -0.368409  Y  alpha
3 -0.133996 -0.342888  Y   beta


This is a Z group
   dataset1  dataset2 k1     k2
4 -0.584674  0.995367  Z  alpha

In [15]:
for (k1,k2), group in dframe.groupby(['k1','k2']):
    print "Key1= %s Key2= %s" %(k1,k2)
    print group
    print '\n'

Key1= X Key2= alpha
   dataset1  dataset2 k1     k2
0  0.104807 -0.618191  X  alpha


Key1= X Key2= beta
   dataset1  dataset2 k1    k2
1  0.953691 -0.181095  X  beta


Key1= Y Key2= alpha
   dataset1  dataset2 k1     k2
2  0.288181 -0.368409  Y  alpha


Key1= Y Key2= beta
   dataset1  dataset2 k1    k2
3 -0.133996 -0.342888  Y  beta


Key1= Z Key2= alpha
   dataset1  dataset2 k1     k2
4 -0.584674  0.995367  Z  alpha

In [16]:
group_dict= dict(list(dframe.groupby('k1')))

In [17]:
group_dict['X']

   dataset1  dataset2 k1     k2
0  0.104807 -0.618191  X  alpha
1  0.953691 -0.181095  X   beta

In [18]:
group_dict

{'X':    dataset1  dataset2 k1     k2
 0  0.104807 -0.618191  X  alpha
 1  0.953691 -0.181095  X   beta, 'Y':    dataset1  dataset2 k1     k2
 2  0.288181 -0.368409  Y  alpha
 3 -0.133996 -0.342888  Y   beta, 'Z':    dataset1  dataset2 k1     k2
 4 -0.584674  0.995367  Z  alpha}

In [21]:
dataset_2_group= dframe.groupby(['k1','k2'])[['dataset2']]

In [22]:
dataset_2_group.mean()

          dataset2
k1 k2
X  alpha -0.618191
   beta  -0.181095
Y  alpha -0.368409
   beta  -0.342888
Z  alpha  0.995367